@font-face {
  font-family: "NanumBarunpen";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NanumBarunpen";
}

a {
  text-decoration: none;
  color: #737881;
  cursor: pointer;
  font-family: "NanumBarunpen";
}

a:hover {
  transition: all 0.2s linear;
  text-decoration: none;
}
