@font-face {
  font-family: "NanumBarunpen";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "NanumBarunpen" !important;
}

a {
  text-decoration: none;
  color: #737881;
  cursor: pointer;
}

a:hover {
  transition: all 0.2s linear;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

/***** 상단 *****/

.topBar {
  position: relative;
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #dde1e5;
  background-color: white;
  z-index: 9999999;
}

.topBar .topLogo {
  text-align: center;
}

.topBar .topLogo a {
  position: relative;
  display: inline-block;
  color: #31092e;
}

.topBar .topBarLeft {
  height: 62px;
  margin-top: -62px;
  padding-left: 1px;
}

.topBar .topAllMenu {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 107px;
  height: 62px;
}

.topBar .topAllMenu a {
  display: block;
  padding: 23px 23px 21px 23px;
  color: #17181d;
  font-size: 16px;
}

.topBar .topBarRight {
  position: absolute;
  top: 0;
  right: 0;
  height: 62px;
  padding-right: 11px;
  text-align: right;
}

.topBar .topUser {
  height: 62px;
  padding: 0 5px 0 6px;
}

.topBar .topUserImg {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.topBar .topUserImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* contents */

#contents {
  width: 95%;
  margin: 0 auto;
  padding-top: 50px;
  display: grid;
}

/* allProject */
.projectHeader {
  clear: both;
  position: relative;
  padding-left: 24px;
}
.projectHeader h2 {
  height: 28px;
  color: #17191d;
  font-size: 24px;
}

/* search */
.projectHeader .search {
  position: absolute;
  top: -10px;
  right: 24px;
}
fieldset {
  display: flex;
}
.acchidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
}
.projectHeader .search input {
  width: 302px;
  height: 44px;
  padding: 0 3px;
  margin-right: 0;
  color: #222426;
  letter-spacing: -0.3px;
  border-bottom: 1px solid #dde1e5;
  transition: all 0.15s linear;
}

/**** filter ****/
.projectHeader .filter {
  position: relative;
  padding: 0px 30px 3px;
  margin: 0px 24px 20px 0;
  background-color: #fff;
  text-align: center;
}
.projectHeader .filter span {
  display: inline-block;
  margin: 0 16px 17px 0;
}
.projectHeader .filter input[type="radio"] {
  display: none;
}
.projectHeader .filter input[type="radio"] + label {
  display: block;
  height: 45px;
  padding: 10px;
  letter-spacing: -0.3px;
  border-radius: 12px;
  cursor: pointer;
}
.projectHeader .filter input[type="radio"]:checked + label {
  color: #fff;
  border: 1px soild #17191d;
  background-color: #17191d;
}

/*** subproject ***/
.subProject h3 {
  height: 30px;
  color: #4a4e57;
  font-size: 20px;
}
.subProject > ul {
  padding: 15px 0 40px;
}
.subProject li {
  height: 320px;
  margin: 0 24px 60px 0;
}
.subProject > ul li {
  float: left;
  display: block;
  width: 302px;
}
.subProject .project {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 302px;
  border: 2px solid #c2c2c2;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.15s linear;
}
.subProject .project:hover {
  border: 2px solid #464646;
}
.subProject .projectImg {
  margin: 20px auto;
  width: 302px;
  height: 200px;
  overflow: hidden;
  line-height: 200px;
}
.subProject .projectImg img {
  width: 302px;
  height: 200px;
  object-fit: contain;
}

/* projectContents */
.projectContents {
  margin-left: 20px;
}
.projectContents .projectName {
  width: 262px;
  height: 26px;
}
.projectContents .projectName a {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  color: #17191d;
  font-size: 18px;
}

.projectContents .projectName span {
  width: 262px;
  height: 26px;
}
.projectContents .projectPeriod {
  width: 262px;
  height: 32px;
  color: #737881;
  font-size: 13px;
}
.projectLanguage {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.projectLanguage .projectIcon {
  width: 25px;
  height: 25px;
  overflow: hidden;
}

.projectLanguage .projectIcon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/*** studyproject ***/
.studyProject h3 {
  height: 30px;
  color: #4a4e57;
  font-size: 20px;
}
.studyContents {
  display: flex;
}
.studyContent {
  border: 2px solid #c2c2c2;
  border-radius: 10px;
  flex-wrap: wrap;
  margin: 0 10px;
  padding: 0 20px;
}
.studyContentName a:hover {
  color: black;
  font-weight: bold;
}
