.total-band{
    height: 100%;
    margin: 100px 300px 20px 300px;
}

.mbti-comment{
    width: auto;
    height: 100px;
}

.mbti-comment > h1{
    text-align: left;
    color: black;
    font-weight: bold;
}

.mbti-comment > span{
    font-size: 25px;
    color: #444;
}

.mbti-choice, .mbti-soju, .mbti-drink{
    display: flex;
    width: auto;
    height: 450px;
    padding-top: 100px;
    justify-content: space-around;
}

.choice-first{
    opacity: 0.5;
    width: 300px;
    height: 300px;
}

.choice-first:hover{
    opacity: 1;
}


.choice-second{
    opacity: 0.5;
    width: 300px;
    height: 300px;
}
.choice-second:hover{
    opacity: 1;
}

.choice-third{
    opacity: 0.5;
    width: 300px;
    height: 300px;
}
.choice-third:hover{
    opacity: 1;
}


.mbti-drink{
    display: flex;
    width: auto;
    height: 450px;
    padding-top: 100px;
    justify-content: space-around;
}

/* 와인 크기만 변경 */
.mbti-drink .choice-second{
    width: 259px !important;
    padding-top: 26px !important;
}